body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    border: 3px solid #f1f1f1;
}

.inputText {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.buttons {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.buttons:hover {
    opacity: 0.8;
}
.checkbox {
    padding-left: 2em;
    min-width: 8em;
    float: none;
}
.inline-rb input[type="radio"] {
    width: auto;
}

.inline-rb label {
    display: inline;
}
h1 {
    text-align: center;
    font-style: oblique;
    font-weight: 300;
}

